#ignore node moudles
node_modules/**/*

#ignore backups
*~

#ignore generated stuff
message*
website/pictures/face*

#ignore texttofaceimages
TextToFaceBilder/*

wantedPoster/wantedPoster*
#ignore visual studio stuff
*.njsproj
*.suo
*.sln
obj*
wantedPoster/wantedPoster2